.footer { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    z-index: 10;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}
.box11 {
    background-image:url("/Users/adinakarp/Desktop/Web Basics Website/images/fadedleopard.jpeg") ;
    
}
.box12 {
    background-image:url("/Users/adinakarp/Desktop/Web\ Basics\ Website/images/FDNY.jpeg");
}
.box13 {
    background-image:repeating-radial-gradient(yellow, orange,  purple, pink, teal , blue) ;
}
.box14 {
    background-image:url("/Users/adinakarp/Desktop/Web\ Basics\ Website/images/brick.jpeg") ;
}
.box15 {
    background-image:url("/Users/adinakarp/Desktop/Web\ Basics\ Website/images/subway tile.jpeg") ;      
}
.box16 {
    background-image:url("/Users/adinakarp/Desktop/Web\ Basics\ Website//images/crystalball.jpeg") ;
}